# Ignore everything by default
*

# Allow tracking of .gitignore itself
!.gitignore

# Allow directories to be tracked
!*/

# Allow all Python files in all directories
!**/*.py

# Ignore specific directories or files
origin/
