# Ignore everything by default
*

# Allow tracking of .gitignore itself
!.gitignore

# Allow directories to be tracked
!*/

# Allow all Python files in all directories
!**/*.py

# Allow all json files in all directories
!**/*.json

# Allow all json files in all directories
!**/*.md

# Ignore specific directories or files
origin/
